<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KlimoBank - vytvářrní účtu</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <main class="logreg">
        <form action="/createAcc" method="post">
            <h1>Vytváření účtu</h1>
            <select class="some" name="mena" id="mena">
                <option value="CZK">CZK</option>
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="BGN">BGN</option>
                <option value="CNY">CNY</option>
                <option value="DKK">DKK</option>
                <option value="EUR">EUR</option>
                <option value="PHP">PHP</option>
                <option value="HKD">HKD</option>
                <option value="INR">INR</option>
                <option value="IDR">IDR</option>
                <option value="ISK">ISK</option>
                <option value="ILS">ILS</option>
                <option value="JPY">JPY</option>
                <option value="ZAR">ZAR</option>
                <option value="CAD">CAD</option>
                <option value="KRW">KRW</option>
                <option value="HUF">HUF</option>
                <option value="MYR">MYR</option>
                <option value="MXN">MXN</option>
                <option value="XDR">XDR</option>
                <option value="NOK">NOK</option>
                <option value="NZD">NZD</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SGD">SGD</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="THB">THB</option>
                <option value="TRY">TRY</option>
                <option value="USD">USD</option>
                <option value="GBP">GBP</option>
            </select>
            <input type="submit" name="create" id="create" value="Vytvoř">
        </form>
        <a href="/zavrit1"><button>Zavřít</button></a>
    </main>
</body>
</html>