<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KlimoBank - přihlášení</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<main>
    <form class="logreg" action="/deposit" method="post">
        <h1>Vklad</h1>
        <input type="number" name="castka" id="castka" placeholder="Částka" required>
        <input type="submit" name="vlozit" id="vlozit" value="Provést">
    </form>
</main>
</body>
</html>