<!DOCTYPE html>
<html lang="cz">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KlimoBank - přihlášení</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<main>
  <form class="logreg" action="/pay" method="post">
    <h1>Platba</h1>
    <input type="text" name="castka" id="castka" placeholder="Částka" required>
    <input type="text" name="prijemce" id="prijemce" placeholder="Účet příjemce" required>
    <span th:text="${money}"></span>
    <input type="submit" name="zaplatit" id="zaplatit" value="Provést">
  </form>
  <a href="/zavrit"><button>Zavřít</button></a>
</main>
</body>
</html>