<!DOCTYPE html>
<html lang="cz">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KlimoBank - registrace</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <footer>
        
    </footer>
    <main>
        <form class="logreg" action="/register" method="post">
            <h1>Registrace</h1>
            <input type="text" name="jmeno" id="jmeno" placeholder="Jméno">
            <input type="text" name="prijmeni" id="prijmeni" placeholder="Příjmení">
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="password" name="heslo" id="heslo" placeholder="Heslo">
            <input type="submit" name="register" id="register" value="Registrovat">
            <p><a href="/index">Zpět na přihlášení</a></p>
        </form>
    </main>

</body>

</html>