<!DOCTYPE html>
<html lang="cz">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KlimoBank - ověření</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <main>
    <form class="logreg" action="/verification" method="post">
      <h1>Dvoufázové ověření</h1>
      <p>Zadejte kód, který jsme Vám poslali do emailu.</p>
      <input type="text" required name="verifikace" id="verifikace">
      <span th:text="${wrongCode}"></span>
      <input type="submit" name="verifi" id="verifi" value="Potvrdit">
    </form>
  </main>
</body>
</html>